body {
    background-color: #FFEBEC;
    color: #EE7650;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Serif Display', serif;
}

p {
    font-family: 'Raleway', serif;
}

/* Navigation Section */

.navbar-nav .nav-link {
    color: #EE7650 !important;
    font-size: 20px !important;
}

.navbar-nav a:hover {
    background-color: #FFE3E5 !important;
}

/* Hero Section */

.hero {
    background-image: url("../images/family\ cooking.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 900px;
}

.hero h1 {
    text-align: right;
    margin-right: 295px;
    padding-top: 300px;
}

.appStores {
    margin-right: 320px;
}

.appStores img {
    cursor: pointer;
}

/* Features Section */

.row img {
    max-width: 700px;
    max-height: 350px;
    border-radius: 25px;
}

.row {
    background-color: #FFFFFF;
    border-radius: 25px;
}

.features .container {
    max-width: 1000px;
}

/* About Us Section */

.about {
    background-color: #FFE3E5;
    padding-top: 25px;
    padding-bottom: 150px;
}

.about .header {
    text-align: center;
}

.header {
    text-align: center;
}

.about .container {
    max-width: 1000px;
}

.appStores2 {
    cursor: pointer;
    margin-top: 80px;
    margin-right: 300px;
}