body {
    background-color: #FFEBEC;
    color: #EE7650;
    z-index: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Serif Display', serif;
}

p {
    font-family: 'Poppins', serif;
}

/* Navigation Section */

.navbar-nav .nav-link {
    color: #EE7650 !important;
    font-size: 20px !important;
}

.navbar-nav a:hover {
    background-color: #FFFFFF !important;
    border-radius: 20px;
}

.navbar-nav a {
    border-radius: 20px;
    margin-right: 10px;
}

/* Hero Section */

.hero {
    background-image: url("../images/family cooking.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 900px;
}

.hero h1 {
    text-align: right;
    margin-right: 300px;
    padding-top: 300px;
}

.hero h1 span {
    background-color: white;
    border-radius: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

.appStores {
    margin-right: 300px;
    background-color: #EE7650;
}

.appStores img {
    cursor: pointer;
}

/* Features Section */

.features h1 {
    text-align: center;
    padding-bottom: 20px;
}

.row img {
    max-width: 600px;
    max-height: 300px;
    border-radius: 25px;
}

.row {
    background-color: #FFFFFF;
    border-radius: 25px;
    padding-top: 15px;
}

.features .container {
    max-width: 850px;
}

.features .container h2 {
    padding-left: 5px;
}

.features .container p {
    padding-left: 15px;
    padding-right: 15px;
}

.container img {
    padding-bottom: 15px;
}

.container .col {
    align-items: center;
    justify-content: center;
}

/* About Us Section */

.about {
    background-image: url(../images/back.png);
    background-position: center;
    padding-top: 50px;
    padding-bottom: 80px;
}

.about .header {
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 15px;
}

h2 {
    text-align: center;
}

.about .container {
    max-width: 1100px;
}

.appStores2 {
    cursor: pointer;
    margin-top: 50px;
    margin-right: 345px;
}

/* Footer Section */
.footer {
    color: #EE7650;
    height: 75px;
}

.footer .nav {
    padding-right: 15px;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.fa:hover {
    color: white;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    border-radius: 20px;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 20px;
}

.fa-youtube {
    background: #bb0000;
    color: white;
    border-radius: 20px;
}